@import './position';

.about-header {
    @include elementPostion(center,center,column);
    h2{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 56px;
        line-height: 66px;
        color: #19456B;
        width: 500px;
    }
    p{
        text-align: center;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
        color: #382933;
        width: 600px;
    }
}

.icons-row{
    width:100%;
    .about-icon-font {
        @include elementPostion(center,center,column);
        margin-top: 120px;
        .about-card {
            @include elementPostion(center,center,row);
            margin-bottom: 100px;
            
            .about-pic-div{
                position: absolute;
                margin: 0px;
                padding-left: 100px;
                z-index: 1;
                margin-left: -30px;
                img:first-child{
                    position: relative;
                    z-index: 1;
                    width: 400px;
                    height:250px;
                }
                img:nth-child(2){
                    position: relative;
                    z-index: 2;
                    margin-top: -270px;
                    margin-left: 80px;
                    width: 250px;
                    height:100px;
                }
            }
            .nomer{
                position: relative;
                z-index: 2;
                margin-top: -150px;
                margin-left: 60px;
            }
        }
        .about-info{
            padding-top: 0px;
            padding-left: 100px;
            margin-top: 0px;
            width: 400px;
            margin-right: 30px;
            h3{
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 28px;
                line-height: 36px;
                color: #19456B;
            }
            p{
                text-align: center;
                font-family: 'Rubik', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 25px;
                color: #382933;
            }
        }
    }
    .about-icon-font-second{
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        .about-card{
            padding: 0px;
            margin: 0px;
            margin-left: 10px;
            .about-pic-div {
                margin-left: -100px;
                img:first-child{
                    z-index: 1;
                    position: absolute;
                    width: 400px;
                    height:250px; 
                }
                img:nth-child(2){
                    z-index: 2;
                    position: absolute;
                    width: 270px;
                    height:100px;
                    margin-left: 65px;
                    margin-top:75px;
                }
            }
            .nomer{
                position: relative;
                z-index: 3;
                margin-top: 50px;
                margin-left: 80px;
            }
        }
        .about-info{
            width: 300px;
            padding-top: 150px;
            margin-left: 40px;
            h3{
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 28px;
                line-height: 36px;
                color: #19456B;
            }
            p{
                text-align: center;
                font-family: 'Rubik', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 25px;
                color: #382933;
            }
        }
    }
    .about-icon-font-trd{
        
        .about-card{
            margin-left: -90px;
            .about-pic-div{
                img:first-child{
                    z-index: 1;
                    position: absolute;
                    width: 400px;
                    height:250px;
                    margin-top:80px;
                   
                }
                img:nth-child(2){
                    z-index: 2;
                    position: absolute;
                    width: 230px;
                    height:120px;
                    margin-top: 130px;
                    margin-left:80px;
                }
            }
            .nomer{
                position: relative;
                z-index: 3;
                margin-top: 130px;
                margin-left: 180px;
            }
        }
        .about-info{
            margin-top: 140px;
            width: 300px;
            margin-left: 50px;
            h3{
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 28px;
                line-height: 36px;
                color: #19456B;
            }
            p{
                text-align: center;
                font-family: 'Rubik', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 25px;
                color: #382933;
            }
        }
    }
}

.line3{
    width:100%;
    margin-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    .section2{
        width: 500px;
        padding-left: 100px;
        padding-top: 70px;
        h2{
            width: 500px;
        }
        ul{
            list-style-image: url(../img/check-circle.png);
            line-height: 30px;
            padding-left: 22px;
        }
        img{
            padding-left: 0px;
        }
    }
    .section-img {
        img{
            object-fit: cover;
            width: 500px;
            height: 500px;
        }
    }
}

#container{
    background: white;
    .line4{
        width: 100%;
        .section-one{
            img{
                object-fit: cover;
                width: 750px;
                height: 700px;
                padding-left: 0px;
                padding-right: 10px;
            }
        }
        .faqs-icons-about{
            .text-box-about{
                padding: 100px;
                padding-left: 70px;
                h2{
                    text-align: left;
                    font-size: 40px;
                    width: 500px;
                }
                p{
                    text-align: left;
                    width: 500px;
                }
            }
        }
        .about-box{
            @include elementPostion(flex-start,flex-start,row);
            margin-left: -200px;
            .about-icon{
                @include elementPostion(flex-start,flex-start,row);
                box-shadow: 9px 10px 10px rgba(178, 178, 197, 0.85);
                margin-right: 10px;
                img{
                    padding-left: 0px;
                    height: 100px;
                }
                .about-phone-text {
                    background: white;
                    padding: 10px;
                    height: 100px;
                  
                    p:first-child{
                        font-family: 'Rubik', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 17px;
                        line-height: 20px;
                    }
                    p:nth-child(2){
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 18px;
                        line-height: 20px;
                        color:#19456B;
                        width:200px;
                   }
                }
            }
        }
    }
}

.line5{
    width:100%;
    .section-two{
        padding: 150px;
        h2{
            width:500px;
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 52px;
            color: #19456B;
        }
        p{
            width:500px;
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 25px;
        }
        img{
            padding-left: 0px;
        }
    }
    
    .section-tree {
        img{
            object-fit: cover;
            width: 750px;
            height: 700px;
            padding: 0px;
            margin: 0px;
        }
    }
}

.line6{
    margin-top: 100px;
    margin-bottom: 100px;
    .section-4 {
        img{
            object-fit: cover;
            width: 600px;
            height:600px;
            margin-left: -30px;
        }
    }
    .section-5 {
        padding: 50px;
        margin-left: -150px;
        .about-pic-gal {
            padding-top: 50px;
            img{
                width: 150px;
                height: 200px;
                padding-left: 0px;
            }
            img:first-child{
                margin-right: 50px;
            }
            img:nth-child(2){
                margin-right: 50px;
            }
        }
    }
}

.line8 {
    width: 100%;
    margin-top:100px;
    margin-bottom:100px;
    .section-6{
            @include elementPostion(flex-start,flex-start,row);
            padding: 0px;
            margin-left: 120px;
            box-shadow: 9px 10px 10px rgba(178, 178, 197, 0.85);
            width: 350px;
            img{
                padding-left:0px;
                height: 110px;
                
            }
            .about-phone-text-line{
                padding: 20px;
                height: 110px;
                p:first-child{
                    font-family: 'Rubik', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 20px;
                }
                p:nth-child(2){
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 20px;
                    color:#19456B;
                    width:200px;
               }
            }
    }
}

.line9{
    width: 100%;
    margin-bottom: 100px;
    map{
        iframe{
            width: 100%;
        }
    }
}