@import './position';
.mixin{
    @include elementPostion(flex-end,center,column);
    width: 400px;
    margin-left: 550px;
    position:absolute;
    z-index: 2;
    margin-top: -50px;
    background-color: white;
    .title_temp{
        @include elementPostion(center,center,column);
        max-width: 400px;
        height: 150px;
        box-shadow: 9px 10px 14px rgba(178, 178, 197, 0.85);
        z-index: 2;
        h3{
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 50px;
            color: #19456B;
        }
        ul{
            width: 500px;
            margin-right: -200px;
            li{
                    display:inline;
                    padding-left: 5px;
                    width: 100px;
                a{
                    font-family: 'Rubik', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    color: #382933;
                    text-decoration: none;
                }   
            }
        }
    }
}



.container{
    
    padding-top: 200px;
    width: 100%;
}



.poster{
    padding-bottom: 100px;
    margin-right: 150px;
    @include elementPostion(center,center,row);
    flex-wrap: wrap;
}


.images{
    @include elementPostion(flex-start,center,column);
    padding: 0px;
    margin: 0px;
    max-width: 500px;
    img:first-child{
        position: relative;
        max-width: 500px;
        max-height: 500px;
    }
    img:nth-child(2){
       position: absolute;
       padding-top: 155.5px;
       padding-right: 270px;
    }
    h4{
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 22px;
        color: #19456B;
        
    }
    p{
        max-width: 200px;
        font-size: 10px;
        padding-left: 10px;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #382933;
    }
    .textinfo{
        @include elementPostion(center,center,column);
        text-align: left;
        padding: 0px;
        margin: 0px;
    }
}

.num_bar{
    text-align: center;
    padding: 0px;
    padding-bottom: 100px;
    margin-right: 150px;
}