.container-fluid
    .row.section
        .col-sm-12.col-md-8.col-lg-4.info.pr-3
            img(src="./img/logo1.png", alt="")
            p Nam laoreet est et dui scelerisque, vel rutrum diam fringilla. In nec convallis nisi. Duis vitae ornare massa, vitae iaculis tellus. Sed ultricies tempus metus ut posuere.
            .social
                img(src="./img/Twitter.png", alt="")
                img(src="./img/Linkedin.png", alt="")
                img(src="./img/Youtube.png", alt="")
        .col-sm-12.col-md-4.col-lg-4
            ul.info-list
                li Calculator
                li Shipment Tracking
                li Services
                li Prices
                li Trucks
                li Careers
        .col-sm-12.col-md-4.col-lg-4.Subscribe
            p Subscribe
            p Curabitur quis porttitor augue, et posuere ligula. Nunc sagittis vestibulum
            form(action="")
                input(type="text" placeholder="Enter Your Email")
                img(src="./img/icon.png", alt="",type="button")
    .row.boxrow
        .col-sm-12.col-md-12.col-lg-4
            .boxes
                img(src="./img/phone.png", alt="")
                .contact
                    p Phone
                    p +8 (495) 989 20 11
        .col-sm-12.col-md-12.col-lg-4
            .secondboxes
                img(src="./img/placeholder.png", alt="")
                .contact
                    p Location
                    p 4621 Hill Croft Farm Road
        .col-sm-12.col-md-12.col-lg-4
            .thurdboxes
                img(src="./img/email.png", alt="")
                .contact
                    p Email
                    p rolso.office@gmail.com
    .row
        .col-sm-12.col-md-12.col-lg-12
            .last
                p Merkulove © Rolso Template All rights reserved Copyrights 2021