.container-fluid
    .row.logo
        .col-sm-12.col-md-4.col-lg-6.mb-2 
            img(src="./img/logo1.png", alt="") 
        .col-sm-12.col-md-8.col-lg-6.buttons 
            button.calc Calculator
                button.track Tracking
    .row.bar
        .col-sm-12.col-md-4.col-lg-6
            ul.nav-bar 
                li.nav-item 
                    a.nav-link(href="home1.html") Home 
                li.nav-item 
                    a.nav-link(href="About.html") About 
                li.nav-item 
                    a.nav-link(href="Services.html") Services 
                li.nav-item 
                    a.nav-link(href="Prices.html") Prices 
                li.nav-item 
                    a.nav-link(href="Contacts.html") Contacts  
        .col-sm-12.col-md-8.col-lg-6.number 
            p +(495) 989 20 11
    .row
        .col-sm-12.col-md-12.col-lg-12.line
            hr 