doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/style.css")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)

        title About 
    header 
        include temp/nav
        include temp/mixing
        -const text  = { h3:"About" , p:"Home / About" }
        +info(text)     
    body
        .container 
            .row 
                .col-12.about-header 
                    h2 Steps of cooperation
                    p Phasellus commodo felis felis, quis blandit metus rutrum sit amet. Pellentesque odio augue, pellentesque sed ligula at, lobortis 
            .row.icons-row 
                .col-4.about-icon-font
                    .about-card 
                        .about-pic-div 
                            img(src="./img/bg (1.1).png", alt="")
                            img(src="./img/calendar22.png", alt="")
                        img.nomer(src="./img/nomber.png", alt="")    
                    .about-info 
                        h3 Thinking strategy
                        p Curabitur porttitor viverra mi, a viverra risus sagittis at. Nulla rhoncus quis velit id varius. Aenean euism
                .col-4.about-icon-font-second
                    .about-card 
                        .about-pic-div 
                            img(src="./img/bg (1.1).png", alt="")
                            img(src="./img/hourglass.png", alt="")
                        img.nomer(src="./img/nomber (1).png", alt="") 
                    .about-info 
                        h3 Thinking strategy
                        p Curabitur porttitor viverra mi, a viverra risus sagittis at. Nulla rhoncus quis velit id varius. Aenean euism 
                .col-4.about-icon-font-trd
                    .about-card 
                        .about-pic-div 
                            img(src="./img/bg (1.1).png", alt="")
                            img(src="./img/package.png", alt="")
                        img.nomer(src="./img/nomber (2).png", alt="")    
                    .about-info 
                        h3 Route building
                        p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos 
            .row.line3
                .col-6.section2 
                    h2 Powerfull Features of Transporterium  
                    p Nam fringilla commodo lobortis. Quisque aliquet commodo orci. Pellentesque dignissim tempor erat dapibus hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridic
                    ul 
                            li Ut consequat rhoncus nisi vel
                            li Class aptent taciti sociosqu
                            li Proin non mattis augue. In vehicula
                    img(src="./img/Button.png", alt="")  
                .col-6.section-img  
                    img(src="./img/image5.jpg", alt="")
        .container-fluid#container               
            .row.line4 
                .col-6.section-one
                    img(src="./img/image1.jpg", alt="")
                .col-6.faqs-icons-about
                    .text-box-about
                        h2 Rolso transportation company
                        p Sed pulvinar ligula sapien, eget tincidunt mauris sollicitudin sed. Vivamus vel nisl diam.
                    .about-box
                        .about-icon
                            img(src="./img/icon(6).png", alt="")
                            .about-phone-text 
                                p Address
                                p 4621 Hill Croft Farm Road
                        .about-icon
                            img(src="./img/icon(5).png", alt="")
                            .about-phone-text 
                                p Address
                                p 4621 Hill Croft Farm Road
            .row.line5
                .col-6.section-two 
                    h2 Powerfull Features of Transporterium  
                    p Nam fringilla commodo lobortis. Quisque aliquet commodo orci. Pellentesque dignissim tempor erat dapibus hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridic
                    img(src="./img/Button2.png",type="button" alt="")
                .col-6.section-tree 
                     img(src="./img/image5.jpg", alt="") 
            .row.line6 
                .col-6.section-4 
                    img(src="./img/image3.jpg", alt="") 
                .col-6.section-5 
                    h2 Powerfull Features of Transporterium
                    p Nam fringilla commodo lobortis. Quisque aliquet commodo orci. Pellentesque dignissim tempor erat dapibus hendrerit
                    .about-pic-gal 
                        img(src="./img/Cargo Insurance pic.png", alt="")
                        img(src="./img/Warehouse1.png", alt="")
                        img(src="./img/sup-pic.png", alt="")             
            .row.line7 
                h1 We provide future of delivery
            .row.line8 
                .col-4.section-6
                    img(src="./img/icon(5).png", alt="")
                    .about-phone-text-line 
                        p Address
                        p 4621 Hill Croft Farm Road
                .col-4.section-6
                    img(src="./img/icon(6).png", alt="")
                    .about-phone-text-line 
                        p Address
                        p 4621 Hill Croft Farm Road
                .col-4.section-6
                    img(src="./img/icon(7).png", alt="")
                    .about-phone-text-line 
                        p Address
                        p 4621 Hill Croft Farm Road 
        .container                
            .row.line9
                .col-sm-12.col-md-6.col-lg-12.map
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5816.440334329101!2d27.908735549559633!3d43.20487126119113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a453467ccaf5f9%3A0xfab2f6fe389062c4!2sStarbucks!5e0!3m2!1sen!2sbg!4v1639926197046!5m2!1sen!2sbg" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy") 


    footer 
        include temp/info                
                    
                                      
                                      
                                         

                                 
                        


                                                    
                                   
                                    

                                  
                                                        
                