doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/style.css")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)


        title Document

    header 
        include temp/nav
        include temp/mixing
        -const text  = { h3:"Blog" ,  a:"Home",a1:"About",a2:"Blog",h:"home1.html",h1:"About.html",h2:"Blog.html" }
        +info(text) 


    body 
        .container 
            .row.blog-first-row
                .col-8.blog-img
                    img(src="./img/image2.jpg", alt="")
                    .logistic
                        img(src="./img/calendar1.png", alt="")
                        p 28 Jan 2021
                        img(src="./img/user-circle.png", alt="")
                        p merkulove
                        img(src="./img/folder1.png", alt="")
                        p cargo, logistic
                    .logistic-text
                        h5 Excellent company quality services
                        p Vivamus eu luctus nulla. Nam sollicitudin quam ac venenatis venenatis. Vivamus ornare velit a eros imperdiet, ac cursus elit
                    img(src="./img/image2.jpg", alt="")
                    .logistic
                        img(src="./img/calendar1.png", alt="")
                        p 28 Jan 2021
                        img(src="./img/user-circle.png", alt="")
                        p merkulove
                        img(src="./img/folder1.png", alt="")
                        p cargo, logistic
                    .logistic-text
                        h5 Excellent company quality services
                        p Vivamus eu luctus nulla. Nam sollicitudin quam ac venenatis venenatis. Vivamus ornare velit a eros imperdiet, ac cursus elit    
                    img(src="./img/image2.jpg", alt="")
                    .logistic
                        img(src="./img/calendar1.png", alt="")
                        p 28 Jan 2021
                        img(src="./img/user-circle.png", alt="")
                        p merkulove
                        img(src="./img/folder1.png", alt="")
                        p cargo, logistic
                    .logistic-text
                        h5 Excellent company quality services
                        p Vivamus eu luctus nulla. Nam sollicitudin quam ac venenatis venenatis. Vivamus ornare velit a eros imperdiet, ac cursus elit    
                    img(src="./img/image2.jpg", alt="")
                    .logistic
                        img(src="./img/calendar1.png", alt="")
                        p 28 Jan 2021
                        img(src="./img/user-circle.png", alt="")
                        p merkulove
                        img(src="./img/folder1.png", alt="")
                        p cargo, logistic
                    .logistic-text
                        h5 Excellent company quality services
                        p Vivamus eu luctus nulla. Nam sollicitudin quam ac venenatis venenatis. Vivamus ornare velit a eros imperdiet, ac cursus elit    
                    img(src="./img/image2.jpg", alt="")
                    .logistic
                        img(src="./img/calendar1.png", alt="")
                        p 28 Jan 2021
                        img(src="./img/user-circle.png", alt="")
                        p merkulove
                        img(src="./img/folder1.png", alt="")
                        p cargo, logistic
                    .logistic-text
                        h5 Excellent company quality services
                        p Vivamus eu luctus nulla. Nam sollicitudin quam ac venenatis venenatis. Vivamus ornare velit a eros imperdiet, ac cursus elit    
                    img(src="./img/image2.jpg", alt="")
                    .logistic
                        img(src="./img/calendar1.png", alt="")
                        p 28 Jan 2021
                        img(src="./img/user-circle.png", alt="")
                        p merkulove
                        img(src="./img/folder1.png", alt="")
                        p cargo, logistic
                    .logistic-text
                        h5 Excellent company quality services
                        p Vivamus eu luctus nulla. Nam sollicitudin quam ac venenatis venenatis. Vivamus ornare velit a eros imperdiet, ac cursus elit                
                .col-4.form-main
                    form
                        .form-blogs 
                            p Categories
                        img(src="./img/folder.png", alt="")
                    .blog-text 
                        p Cargo 
                        p 14
                    .blog-text 
                        p Logistic 
                        p 45
                    .blog-text 
                        p Services 
                        p 67  
                    .blog-text 
                        p Trucks 
                        p 4      
                    form
                        .form-blogs 
                            p Latest Posts
                        img(src="./img/list2.png", alt="")  
                    .pic-stuff 
                        img(src="./img/image4.jpg", alt="")  
                        .stuff-text 
                            p Excellent company quality services
                            .log-text 
                                img(src="./img/calendar1.png", alt="")
                                p 28 Jan 2021 
                    .pic-stuff 
                        img(src="./img/image5.jpg", alt="")  
                        .stuff-text 
                            p Excellent company quality services
                            .log-text 
                                img(src="./img/calendar1.png", alt="")
                                p 28 Jan 2021   
                    .pic-stuff 
                        img(src="./img/image3.jpg", alt="")  
                        .stuff-text 
                            p Plane Transport To The Variety Countries
                            .log-text 
                                img(src="./img/calendar1.png", alt="")
                                p 28 Jan 2021
                    form
                        .form-blogs 
                            p Archives
                        img(src="./img/calendar2.png", alt="")
                    .caret 
                        img(src="./img/caret-right2.png", alt="")
                        p November 
                    .caret 
                        img(src="./img/caret-right2.png", alt="")
                        p December 
                    .caret 
                        img(src="./img/caret-right2.png", alt="")
                        p January
                    form
                        .form-blogs 
                            p Recent Comments
                        img(src="./img/page.png", alt="")
                    .caret-second 
                        img(src="./img/caret-right3.png", alt="")
                        p Admin in Powerfull Features of Transporterium
                    .caret-second 
                        img(src="./img/caret-right3.png", alt="")
                        p Admin in Powerfull Features of Transporterium
                    .caret-second 
                        img(src="./img/caret-right3.png", alt="")
                        p Admin in Powerfull Features of Transporterium      
            .row 
                .col-12.pagination
                    img(src="./img/pagination.png", alt="")  

    footer 
        include temp/info                                                                                  
            