doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/style.css")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)

        title Document

    header 
        include temp/nav
        include temp/mixing
        -const text  = { h3:"Contacts",a:"Home",a1:"Contacts",h:"home1.html",h1:"Contacts.html"}
        +info(text)        
    body 
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5816.440334329101!2d27.908735549559633!3d43.20487126119113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a453467ccaf5f9%3A0xfab2f6fe389062c4!2sStarbucks!5e0!3m2!1sen!2sbg!4v1639926197046!5m2!1sen!2sbg" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy") 

        .container 
            .row.contact-icon.row
                .col-sm-12.col-md-8.col-lg-3
                    .contact-icon
                        img(src="./img/icon(5).png", alt="")
                        .contact-phone-text 
                            p Phones
                            p +8 (495) 989 20 11 +8 (495) 969 60 12
                .col-sm-12.col-md-8.col-lg-3
                    .contact-icon
                        img(src="./img/icon(6).png", alt="")
                        .contact-phone-text 
                            p Address
                            p 4621 Hill Croft Farm Road
                .col-sm-12.col-md-8.col-lg-3
                    .contact-icon
                        img(src="./img/icon(7).png", alt="")
                        .contact-phone-text 
                            p Emails
                            p rolso@site.com rolso@gensite.com  
            .row 
                .col-sm-12.col-md-8.col-lg-6.contact-data
                    .form 
                        .data
                            .person 
                                label(for="text") Name: 
                                input(type="text" id="text")
                            .person  
                                label(for="number") Phone:
                                input(type="number" id="number")
                        .data 
                            .person 
                                label(for="email") Email: 
                                input(type="text" id="email")
                            .person 
                                label(for="text") Subject: 
                                input(type="text" id="text") 
                    .messege 
                        label(for="text") Messeges: 
                        textarea(name="Messages", cols="81", rows="6" placeholder="Text")
                        img(src="./img/Calculator.png", type="button" alt="")   
                .col-sm-12.col-md-8.col-lg-4.contact-pic 
                    .contact-pic-text
                        img(src="./img/image6.jpg", alt="")
                    .contact-service
                        h5 Quality services
                        img(src="./img/Button (1).png", alt="")                                    

        

    footer 
        include temp/info                    