doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/style.css")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="./node_modules/@splidejs/splide/dist/css/splide.min.css")
        title Error
    body 
        .container-fluid
            .row.error-div
                .col-8.er-col
                    .error 
                        img(src="./img/404.png", alt="")
                        .div-box
                            h1 Page not found
                            p Maecenas interdum, metus ut rhoncus dignissim, lorem mi convallis nisi, sit amet facilisis nisl nulla non odio. Phasellus mauris quam, ullamcorper
                            .error-search 
                                input(type="text" placeholder="search word")
                                img(src="./img/search.png", alt="")
                            img(src="./img/Button-error.png", type="button" alt="")