doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/style.css")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="./node_modules/@splidejs/splide/dist/css/splide.min.css")
        script(type="module" src="./js/script.js")  

        title Document
    header 
        .container-fluid.container-h2
            .row.home2-row
                .col-4.navbar-home2 
                    ul 
                        li 
                            a(href="") Trucks 
                        li
                            a(href="") Careers 
                        li
                            a(href="") Team 
                        li
                            a(href="") Blog 
                .col-4.home2-social 
                    img(src="./img/facebook-f.png", type="button" alt="")
                    img(src="./img/linkedin-in.png", type="button" alt="") 
                    img(src="./img/twitter-t.png", type="button" alt="")   
        .container-fluid.container-h2-tow
            .row.navbar-home2-two 
                .col-4.home2-logo 
                    img(src="./img/logo.png", alt="")
                .col-4.home2-nav-two
                    ul 
                        li 
                            a(href="") Home
                        li 
                            a(href="") About
                        li 
                            a(href="") Services
                        li 
                            a(href="") Prices
                        li 
                            a(href="") Contacts
        .container-fluid.container-h2-tree
            .row 
                .col-6.home2-headline
                    .content-home2 
                        h1 Deliver Packages in any Way    
                        p Curabitur congue finibus lorem, at dignissim metus elementum sit amet. Mauris eget dapibus quam. Integer a ante rutrum, semper risus a, blandit elit. Nunc dolor purus, condimentum ut lorem in, tincidunt consequat erat.
                    img(src="./img/Button.png", type="button" alt="")


    body
        .container.home-body2
            .row.home2-info
                .col-4.home2-truck 
                    img(src="./img/truck.png", alt="")
                    .h2-truck 
                        h3 Road Freight
                        p Ut consequat rhoncus nisi vel mollis. Lorem ips
                .col-4.home2-truck 
                    img(src="./img/cargo-ship.png", alt="")
                    .h2-truck 
                        h3 Road Freight
                        p Ut consequat rhoncus nisi vel mollis. Lorem ips
                .col-4.home2-truck 
                    img(src="./img/fast-delivery.png", alt="")
                    .h2-truck 
                        h3 Road Freight
                        p Ut consequat rhoncus nisi vel mollis. Lorem ips
            .row.christmas-row 
                .col-4.home-christmas 
                    img(src="./img/image1.jpg", alt="")
                .col-6.home-christmas2
                    .text-christmas
                        h2 Powerfull Features of Transporterium
                        p Nam fringilla commodo lobortis. Quisque aliquet commodo orci. Pellentesque dignissim tempor erat dapibus hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridic
                    .christmas-box
                        .home2-icon
                            img(src="./img/icon(6).png", alt="")
                            .about-phone-text 
                                p Address
                                p 4621 Hill Croft Farm Road
                        .home2-icon
                            img(src="./img/icon(5).png", alt="")
                            .about-phone-text 
                                p Address
                                p 4621 Hill Croft Farm Road 
        .container-fluid 
            .row.Transporterium  
                .col-4.first-b
                    h1 Transporterium services
                .col-4.numbers-h         
                    .second-b
                        img(src="./img/1255++.png", alt="")
                        p Delivered packeges
                    .second-b
                        img(src="./img/50 years.png", alt="")
                        p Miles driven each of the year
        .container
            .row.offter-row
                .col-4.offter-btn
                    img(src="./img/offer.png",type="button" alt="")
            .box-home-user         
                .row.home2-data
                    .col-6.users-home2 
                        form
                            .data-h
                                label(for="name") Full Name
                                input(type="name" id="name")
                            .data-h
                                label(for="email") Email
                                input(type="email" id="email")           
                            .data-h
                                label(for="number") Phonea
                                input(type="number" id="number")
                .row.home2-data 
                    .col-6.users-home2 
                        form
                            .data-h 
                                label(for="text") Subject
                                input(type="text" id="text")
                            .data-h 
                                label(for="text") Delivery City
                                input(type="text" id="text")
                            .data-h 
                                label(for="text") City of Departure
                                input(type="text" id="text")
                .row.home2-value
                    .col-6.users-home2 
                        form
                            .data-h 
                                label(for="text") Freight Type
                                input(type="text" id="text")
                            .data-h 
                                label(for="text") Incoterms
                                input(type="text" id="text")
                .row.home2-measur 
                    .col-6.users-home2 
                        form
                            .data-h 
                                label(for="text") Weight
                                input(type="text" id="text")
                            .data-h 
                                label(for="text") Height
                                input(type="text" id="text")
                            .data-h 
                                label(for="text") Width
                                input(type="text" id="text")
                            .data-h 
                                label(for="text") Lenght
                                input(type="text" id="text")
                .row.home2-btn 
                    .col-6.btn-form 
                        .btn 
                            input(type="radio" name="name")
                            label(for="text") Fragille
                        .btn 
                            input(type="radio" name="name")
                            label(for="text") Express delivery
                        .btn 
                            input(type="radio" name="name")
                            label(for="text") Insurance
                        .btn 
                            input(type="radio" name="name")
                            label(for="text") Packaging
                .row.user-btn 
                    .col-4.btn-h
                        img(src="./img/Calculator.png",type="button" alt="") 
        .container 
            .row.home2-headline4 
                .col-12.home2-title 
                    h1 Steps of cooperation
                    p Phasellus commodo felis felis, quis blandit metus rutrum sit amet. Pellentesque odio augue, pellentesque sed ligula at, lobortis         
            .row.home-num-row 
                .col-4.home-num 
                    img(src="./img/01.png", alt="")
                    .text01
                        h4 Thinking strategy
                        p Curabitur porttitor viverra mi, a viverra risus sagittis at. Nulla rhoncus quis velit id varius. Aenean euism
                .col-4.home-num 
                    img(src="./img/02.png", alt="")
                    .text01
                        h4 Choice of solutions
                        p Pellentesque id sollicitudin dolor. Suspendisse in porta turpis, nec commodo risus
                .col-4.home-num 
                    img(src="./img/03.png", alt="")
                    .text01
                        h4 Route building
                        p Mauris eu velit ac mauris tincidunt mattis. Etiam cursus vel orci non viverra. Cras mollis posuere laoreet         
    .container-fluid.home2-galery
        .row.picture-home2
            .col-4.home2-galery-text 
                h4 Provide quick tracking your cargo 
                p Class aptent taciti sociosqu ad litora torquent per conubia nostra orci malesuada
                p Call us for consultation
                h3 +8 (495) 989 20 11
            .col-8.home2-galery-pic
                .galery 
                    img(src="./img/image6.jpg", alt="")
                    img(src="./img/image5.jpg", alt="")
                    img(src="./img/image2.jpg", alt="")
                    img(src="./img/image3.jpg", alt="")
        .row 
            .col-12 
                h1 People and companies who trust us              
                   
            