doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/style.css")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)

        title Home3

    header
        .container-fluid.main-line
            .row.flt
                .col-6.img-social
                    .social-icons 
                        img(src="./img/facebook-f.png", alt="")
                        img(src="./img/linkedin-in.png", alt="")
                        img(src="./img/twitter-t.png", alt="")
                .col-4.text-pragraph-soc
                    p +8 (495) 989 20 11    
        .container-fluid 
            .container
                .row.nav-bar-soc
                    .col-10.social-nav-line 
                        img(src="./img/logo.png", alt="")
                        ul 
                            li 
                                a(href="") Home
                            li 
                                a(href="") About
                            li 
                                a(href="") Services
                            li 
                                a(href="") Prices
                            li 
                                a(href="") Contacts
                    .col-2.nav-img                                                       
                        img(src="./img/icon-pnone.png", alt="")
                .row.home3-row-text 
                    .col-10.home3-text-title 
                        h2 Deliver Packages in any Way
                        p Curabitur congue finibus lorem, at dignissim metus elementum sit amet. Mauris eget dapibus quam. Integer a ante rutrum, semper risus a, blandit elit. Nunc dolor purus, condimentum ut lorem in, tincidunt consequat erat.
                        img(src="./img/Button3.png", alt="")

    body
        .container 
            .row.home3-row-text2 
                .col-10.home3-text-title2 
                    h2 Trusted by more than 365,000 happy clients
                    p Sed tempor nec est finibus molestie. Sed molestie orci eleifend, sodales est ut, aliquam quam. Mauris fringilla consectetur purus eget egestas. Proin varius interdum blandit. Duis rutrum, arcu id porttitor tempus, diam libero dignissim sem, quis sollicitudin eros ex quis urna
                    img(src="./img/Button3.png", alt="")
            .row.home3-boxes 
                .col-4.hboxes 
                    img(src="./img/iconh.png", alt="")
                    h4 Cargo Insurance
                    p Mauris eu velit ac mauris tincidunt mattis. Etiam cursus vel
                .col-4.hboxes 
                    img(src="./img/iconh2.png", alt="")
                    h4 Online Tracking
                    p Ut viverra, ante ut mattis mollis, felis felis eleifend dolor, non suscipit
                .col-4.hboxes 
                    img(src="./img/iconh1.png", alt="")
                    h4 Box checking
                    p Maecenas pharetra accumsan venenatis. Nam ut aliquam erat        
            .row.home3-section
                .col-4.home3-first-col
                    h3 Excellent company quality services
                    p Donec lacinia purus et nisl dignissim, vel egestas nunc iaculis. Maecenas elementum elementum ipsum, sit amet lacinia lectus vulputate nec.
                    ul 
                        li Vestibulum eu porta mauris. Sed imper
                        li Maecenas purus ante, condime
                        li Maecenas sodales
                    img(src="./img/Button2.png", alt="")
                .col-2.home3-image-row 
                    img(src="./img/1255+.png", alt="")
                    p Delivered packeges
                    img(src="./img/50years.png", alt="")
                    p Total warehouse area     
                    img(src="./img/4567.png", alt="")
                    p Happy Clients
                .col-6.home3-galery
                    .image_div
                        img(src="./img/image3.jpg", alt="")
                        img(src="./img/image1.jpg", alt="")
                        img(src="./img/image5.jpg", alt="")
            .row.chess
                .col-6.img-text-cont 
                    .img-container
                        img(src="./img/image5.jpg", alt="")
                    .text-container 
                        img(src="./img/delivery-truck.png", alt="")
                        h5 Road Freight
                        p Vivamus tristique nibh vel purus ultricies viverra. Phasellus est dolor
                .col-6.img-text-cont 
                    .img-container
                        img(src="./img/image5.jpg", alt="")
                    .text-container 
                        img(src="./img/train.png", alt="")
                        h5 Road Freight
                        p Vivamus tristique nibh vel purus ultricies viverra. Phasellus est dolor 
            .row.chess
                .col-6.img-text-cont 
                    .text-container 
                        img(src="./img/ship.png", alt="")
                        h5 Road Freight
                        p Vivamus tristique nibh vel purus ultricies viverra. Phasellus est dolor
                    .img-container
                        img(src="./img/image5.jpg", alt="")
                .col-6.img-text-cont 
                    .text-container 
                        img(src="./img/departures.png", alt="")
                        h5 Road Freight
                        p Vivamus tristique nibh vel purus ultricies viverra. Phasellus est dolor
                    .img-container
                        img(src="./img/image5.jpg", alt="")
            .row 
                .col-12.home3-text-head 
                    h2 The right price for you,
                    h2 whoever you are     
                    p Vestibulum tellus orci, pharetra non risus vitae, varius pellentesque magna. Integer sed sapien magna.
                    p Nulla neque diam, auctor eu dolor sed, rutrum euismod felis        
            .row.home3-cards
                .col-sm-12.col-md-6.col-lg-4
                    .home3-card1
                        .head   
                            h3 Basic
                            p Save 10%
                        img(src="./img/Price.png", alt="")
                        ul 
                            li Ut consequat rhoncus nisi vel
                            li Class aptent taciti sociosqu
                            li Proin non mattis augue. In vehicula
                        img(src="./img/Calculator2.png",type="button", id="calc" alt="")     
                .col-sm-12.col-md-6.col-lg-4 
                    .shiping-card1
                        .head   
                            h3 Basic
                            p.save Save 10%
                        img(src="./img/Price (2).png", alt="")
                        ul 
                            li Ut consequat rhoncus nisi vel
                            li
                                b Class aptent taciti sociosqu
                            li Proin non mattis augue. In vehicula 
                        img(src="./img/Calculator2.png",type="button", id="calc" alt="")     
                .col-sm-12.col-md-6.col-lg-4 
                    .shiping-card1
                        .head   
                            h3 Basic
                            p Save 10%
                        img(src="./img/Price (1).png", alt="")
                        ul 
                            li Ut consequat rhoncus nisi vel
                            li Class aptent taciti sociosqu
                            li Proin non mattis augue. In vehicula 
                        img(src="./img/Calculator2.png",type="button", id="calc" alt="")
            .row.empty-div
                .col-3.blank-div
                .col-3.blank-div 
                .col-3.blank-div 
                .col-3.blank-div  
            .row.headline-title    
                h2 We provide future of delivery 
            .row.users-info-stuff
                .col-sm-12.col-md-8.col-lg-6.home3-inputdata
                    .form 
                        .data
                            .person 
                                label(for="text") Name: 
                                input(type="text" id="text")
                            .person  
                                label(for="number") Phone:
                                input(type="number" id="number")
                        .data 
                            .person 
                                label(for="email") Email: 
                                input(type="text" id="email")
                            .person 
                                label(for="text") Subject: 
                                input(type="text" id="text") 
                    .messege 
                        label(for="text") Messeges: 
                        textarea(name="Messages", cols="81", rows="6" placeholder="Text")
                        img(src="./img/Calculator.png", type="button" alt="") 
                .col-6.faqs-icons-home3 
                    .faqs-icon
                        img(src="./img/icon(5).png", alt="")
                        .faqs-phone-text 
                            p Phones
                            p +8 (495) 989 20 11 +8 (495) 969 60 12 
                    .faqs-icon
                        img(src="./img/icon(6).png", alt="")
                        .faqs-phone-text 
                            p Address
                            p 4621 Hill Croft Farm Road 
                    .faqs-icon
                        img(src="./img/icon(7).png", alt="")
                        .faqs-phone-text 
                            p Phones
                            p rolso@site.com rolso@support.com
            .row.home3-map-google
                .col-sm-12.col-md-6.col-lg-12.googlemap-home3
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5816.440334329101!2d27.908735549559633!3d43.20487126119113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a453467ccaf5f9%3A0xfab2f6fe389062c4!2sStarbucks!5e0!3m2!1sen!2sbg!4v1639926197046!5m2!1sen!2sbg" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy")   
            .row.section-home3
                .col-sm-12.col-md-8.col-lg-4.info-home3.pr-3
                    img(src="./img/logo.png", alt="")
                    p Nam laoreet est et dui scelerisque, vel rutrum diam fringilla. In nec convallis nisi. Duis vitae ornare massa, vitae iaculis tellus. Sed ultricies tempus metus ut posuere.
                    .social-home3
                        img(src="./img/Twitter1.png", alt="")
                        img(src="./img/Linkedin1.png", alt="")
                        img(src="./img/Youtube1.png", alt="")
                .col-sm-12.col-md-4.col-lg-4
                    ul.info-list-home3
                        li Calculator
                        li Shipment Tracking
                        li Services
                        li Prices
                        li Trucks
                        li Career 
                .col-sm-12.col-md-4.col-lg-4.grey-boxs
                    .first-box-div 
                        .div-white
                        .div-white 
                        .div-white
                    .first-box-div 
                        .div-white
                        .div-white 
                        .div-white 
                    .first-box-div 
                        .div-white
                        .div-white 
                        .div-white                                                          
            .row.last-row 
                .col-10.last-paragraph 
                    p Merkulove © Rolso Template All rights reserved Copyrights 2021
