doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/style.css")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)

        title Home3

    header
        .container-fluid.main-line
            .row.flt
                .col-6.img-social
                    .social-icons 
                        img(src="./img/facebook-f.png", alt="")
                        img(src="./img/linkedin-in.png", alt="")
                        img(src="./img/twitter-t.png", alt="")
                .col-4.text-pragraph-soc
                    p +8 (495) 989 20 11    
        .container-fluid 
            .container
                .row.nav-bar-soc
                    .col-10.social-nav-line 
                        img(src="./img/logo.png", alt="")
                        ul 
                            li 
                                a(href="") Home
                            li 
                                a(href="") About
                            li 
                                a(href="") Services
                            li 
                                a(href="") Prices
                            li 
                                a(href="") Contacts
                    .col-2.nav-img                                                       
                        img(src="./img/icon-pnone.png", alt="")
                .row.home3-row-text 
                    .col-10.home3-text-title 
                        h2 Deliver Packages in any Way
                        p Curabitur congue finibus lorem, at dignissim metus elementum sit amet. Mauris eget dapibus quam. Integer a ante rutrum, semper risus a, blandit elit. Nunc dolor purus, condimentum ut lorem in, tincidunt consequat erat.
                        img(src="./img/Button3.png", alt="")

    body
        .container 
            .row.home3-row-text2 
                .col-10.home3-text-title2 
                    h2 Trusted by more than 365,000 happy clients
                    p Sed tempor nec est finibus molestie. Sed molestie orci eleifend, sodales est ut, aliquam quam. Mauris fringilla consectetur purus eget egestas. Proin varius interdum blandit. Duis rutrum, arcu id porttitor tempus, diam libero dignissim sem, quis sollicitudin eros ex quis urna
                    img(src="./img/Button3.png", alt="")
            .row.home3-boxes 
                .col-4.hboxes 
                    img(src="./img/iconh.png", alt="")
                    h4 Cargo Insurance
                    p Mauris eu velit ac mauris tincidunt mattis. Etiam cursus vel
                .col-4.hboxes 
                    img(src="./img/iconh2.png", alt="")
                    h4 Online Tracking
                    p Ut viverra, ante ut mattis mollis, felis felis eleifend dolor, non suscipit
                .col-4.hboxes 
                    img(src="./img/iconh1.png", alt="")
                    h4 Box checking
                    p Maecenas pharetra accumsan venenatis. Nam ut aliquam erat        
            .row.home3-section
                .col-4.home3-first-col
                    h3 Excellent company quality services
                    p Donec lacinia purus et nisl dignissim, vel egestas nunc iaculis. Maecenas elementum elementum ipsum, sit amet lacinia lectus vulputate nec.
                    ul 
                        li Vestibulum eu porta mauris. Sed imper
                        li Maecenas purus ante, condime
                        li Maecenas sodales
                    img(src="./img/Button2.png", alt="")
                .col-2.home3-image-row 
                    img(src="./img/1255+.png", alt="")
                    p Delivered packeges
                    img(src="./img/50years.png", alt="")
                    p Total warehouse area     
                    img(src="./img/4567.png", alt="")
                    p Happy Clients
                .col-6.home3-galery
                    .image_div
                        img(src="./img/image3.jpg", alt="")
                        img(src="./img/image1.jpg", alt="")
                        img(src="./img/image5.jpg", alt="")
            .row.chess
                .col-6.img-text-cont 
                    .img-container
                        img(src="./img/image5.jpg", alt="")
                    .text-container 
                        img(src="./img/delivery-truck.png", alt="")
                        h5 Road Freight
                        p Vivamus tristique nibh vel purus ultricies viverra. Phasellus est dolor
                .col-6.img-text-cont 
                    .img-container
                        img(src="./img/image5.jpg", alt="")
                    .text-container 
                        img(src="./img/train.png", alt="")
                        h5 Road Freight
                        p Vivamus tristique nibh vel purus ultricies viverra. Phasellus est dolor 
            .row.chess
                .col-6.img-text-cont 
                    .text-container 
                        img(src="./img/ship.png", alt="")
                        h5 Road Freight
                        p Vivamus tristique nibh vel purus ultricies viverra. Phasellus est dolor
                    .img-container
                        img(src="./img/image5.jpg", alt="")
                .col-6.img-text-cont 
                    .text-container 
                        img(src="./img/departures.png", alt="")
                        h5 Road Freight
                        p Vivamus tristique nibh vel purus ultricies viverra. Phasellus est dolor
                    .img-container
                        img(src="./img/image5.jpg", alt="")                                                                
